.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  left: 10px;
  pointer-events: none;
}

.input {
  border-radius: 6px;
  padding-left: 50px;
}

.input:hover,
.input:hover{
  border: 2px solid var(--primary-white-color);
}

@media (max-width: 769px) {
  .input {
    width: 279px;
    height: 45px;
    padding-left: 30px;
    font-size: 14px;
  }
}
