.container {
  /* width: 500px;
  height: 484px; */
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  /* background-color: #2a2c36;
  border-radius: 30px; */
  /* margin-top: 122px;
  margin-left: 760px; */
  justify-content: space-between; /* Размещаем элементы с равными отступами между ними */
  align-items: center; /* Центрируем элементы по вертикали */
  padding: 0 20px; /* Добавляем отступы от краев контейнера */
}

.section {
  flex: 1; /* Каждому элементу (изображению и форме) даем равное пространство */
  margin: 0 10px; /* Отступы между элементами */
}

.img {
  width: 532px; /* Задаем ширину изображения, чтобы оно заполняло контейнер */
  height: 468px;
  /*width: 100%; /* Задаем ширину изображения, чтобы оно заполняло контейнер */
  /*height: auto; Сохраняем пропорции изображения*/
}

.sectionForm {
  flex: 1; /* Форме также даем равное пространство */
}

.title {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  /* text-align: center; */
  color: var(--primary-white-color);
  /* text-align: center; */
  margin-top: 44px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.form > div {
  margin-bottom: 20px;
}

input {
  width: 400px;
  height: 59px;

  font-size: 16px;
  border: 1px solid var(--primary-white-color);
  border-radius: 3px;
  background-color: transparent;
  color: var(--primary-white-color);

  /* width: Fixed (86px)px;
height: Hug (27px)px;
top: 16px;
left: 18px;
gap: 8px;
opacity: 0px; */
}

.btn {
  width: 400px;
  height: 59px;
  font: var(--btn-font);

  margin-top: 20px;

  padding: 21px 138px 21px 138px;

  border-radius: 6px 0px 0px 0px;
  border: 1px solid var(--light-green-color);
  background-color: var(--light-green-color);
  color: var(--primary-white-color);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--primary-black-color);
}
